.contenedor {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2,h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  .cajita {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
  }
  